#row1 {
    display: flex;
}

#row2 { 
    display: flex;
}

#row3 {
    display: flex;
}

#row4 {
    display: flex;
}

#item1 {
    width: 100%;
    background-color: aquamarine;

}

#item2, #item3, #item4, #item5 {
    width: 25%;
    background-color: blueviolet;
}

#item6, #item7 {
    width: 25%;
background-color: beige;
}
